<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script>
        var socket = io();
        //Funkcja do roobienia nazw pokojów, na razie naiwna
        function makeRoomName(userList) {
            sList = userList.sort();//.map(l => l.id).sort();
            name = ''
            for (const user in sList) {
                name += sList[user].toString();
            }
            return name;
        }
        //funckja do wybierania konkretnego pokoju
        function chooseRoom(homeEmail, mailList) {
            // alert("działa")
            if (mailList == []) {
                alert("Nie możesz (jeszcze) pisać do samego siebie")
            } else {
                room = makeRoomName([homeEmail].concat(mailList));
                msg = document.getElementById("messages");
                msg.innerHTML = "";
                socket.emit('room', room);
            } 1
        }
        socket.on('diag', function (data) {
            if (data = "notLogged") {
                var b = document.getElementById('inBody');
                b.innerHTML = "<h1 class='error'>Zaloguj się!</h1>";
                alert("Musisz się zalogować!");
                window.location.href = '../';
            }
        })
        //emitowanie informacji o wyjściu z czatu, żeby usunąć socket z listy aktywnych
        window.addEventListener('beforeunload', function (event) {
            socket.emit('diag', "exit");
        });

        window.addEventListener('load', function () {

            //wyświetlanie czasu
            socket.on('time', function (data) {
                var t = document.getElementById('time');
                t.innerHTML = data;
            });
            //prośba o listę znajomych
            socket.emit('friend list', "start");

            //otrzymanie listy znajomych
            socket.on('friend list', function (list) {
                var fList = document.getElementById('friendBox');
                var fListMenu = document.getElementById('FriendsOnMenu');
                fList.innerHTML += "<h1>Friends:</h1>";

                for (const friend in list) {
                    //to chyba nie jest najładniejszy sposób, ale działa.
                    //Każdy wpis z listy przyjaciół pakuję w diva
                    var box1 = `<div 
                    class="dvFriends"
                                     id="fr${list[friend].id}" 
                                     onclick="chooseRoom('<%= email %>',['${list[friend].email}']);" 
                                     style="cursor: pointer;">${list[friend].name}</div>`

                    var box2 = `<a  class="dropdown-item"
                                    onclick="chooseRoom('<%= email %>',['${list[friend].email}']);"
                                    style="cursor: pointer;"
                                    id="fr${list[friend].id}">
                                        ${list[friend].name}
                                </a>`
                    fList.innerHTML += box1;
                    fListMenu.innerHTML += box2;

                };

            });

            //wyświetlanie wiadomości:
            socket.on('chat message', function (data) {
                var msg = document.getElementById('messages');
                msg.innerHTML += '<p class="incmsg">' + data + '</p>';
            });

            //Wysyłanie wiadomości:
            var btsend = document.getElementById('btsend');
            btsend.addEventListener('click', function () {
                var txtmessage = document.getElementById('txtmessage');
                socket.emit('chat message', txtmessage.value);
            });

        });
    </script>
</head>

<body>
    <div id="inBody">
        <!-- pasek nawigacyjny -->
        <nav class="navbar navbar-expand-sm navbar-light bg-success">
            <!-- Tytuł paska nawigacyjnego -->
            <a class="navbar-brand" href="/">
                <img src="http://icons.iconarchive.com/icons/froyoshark/enkel/512/iMessage-icon.png" width="30" height="30" class="d-inline-block align-top"
                    alt=""> Pogadaj se!
            </a>

            <!-- Guzik menu, który się pojawia po zmianie szerokości paska -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarChat" aria-controls="navbarChat"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarChat">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Powrót</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Wyloguj</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/">Disabled</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Znajomi</a>
                        <div class="dropdown-menu" aria - labelledby="Friends" id="FriendsOnMenu">

                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- <div class="collapse" id="Button">
            <div class="navbar-light bg-light p-4">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/main">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/main">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/main">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <br/> -->

        <div id="friendBox">
        </div>
        <div id="chatBox">Aktualny czas na serwerze:
            <br>
            <b>
                <span id="time"></span>
            </b>

            <div>
                <input type='text' id='txtmessage' />
                <input type="button" id='btsend' value="Wyślij" />
                <div id='messages'></div>
            </div>
        </div>

    </div>

</body>

</html>