<html>
<meta charset="utf-8" />

<head>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        //Funkcja do roobienia nazw pokojów, na razie naiwna
        function makeRoomName(userList) {
            sList = userList.sort();//.map(l => l.id).sort();
            name = ''
            for (const user in sList) {
                name += sList[user].toString();
            }
            return name;
        }
        //funckja do wybierania konkretnego pokoju
        function chooseRoom(homeEmail, mailList) {
            // alert("działa")
            if (mailList == []) {
                alert("Nie możesz (jeszcze) pisać do samego siebie")
            } else {
                room = makeRoomName([homeEmail].concat(mailList));
                socket.emit('room', room);
            }1
        }
        socket.on('diag', function (data){
            if(data="notLogged"){
                var b = document.getElementById('inBody');
                b.innerHTML = "<h1 class='error'>Zaloguj się!</h1>";
                alert("Musisz się zalogować!");
                window.location.href='../';
            }
        })
        //emitowanie informacji o wyjściu z czatu, żeby usunąć socket z listy aktywnych
        window.addEventListener('beforeunload', function (event) {
            socket.emit('diag', "exit");
        });

        window.addEventListener('load', function () {

            //wyświetlanie czasu
            socket.on('time', function (data) {
                var t = document.getElementById('time');
                t.innerHTML = data;
            });
            //prośba o listę znajomych
            socket.emit('friend list', "start");

            //otrzymanie listy znajomych
            socket.on('friend list', function (list) {
                var fList = document.getElementById('friendBox');
                fList.innerHTML += "<h1>Friends:</h1>";

                for (const friend in list) {
                    //to chyba nie jest najładniejszy sposób, ale działa.
                    //Każdy wpis z listy przyjaciół pakuję w diva
                    var box = `<div 
                    class="dvfriends"
                    id="${"fr" + list[friend].id}" 
                    onclick="chooseRoom('<%= email %>',['${list[friend].email}']);" 
                    style="cursor: pointer;">${list[friend].name}</div>`
                    fList.innerHTML += box;
                };

            });

            //wyświetlanie wiadomości:
            socket.on('chat message', function (data) {
                var msg = document.getElementById('messages');
                msg.innerHTML += '<p class="incmsg">' + data + '</p>' + "<br/>";
            });

            //Wysyłanie wiadomości:
            var btsend = document.getElementById('btsend');
            btsend.addEventListener('click', function () {
                var txtmessage = document.getElementById('txtmessage');
                socket.emit('chat message', txtmessage.value);
            });

        });
    </script>
</head>

<body>
    <div id="inBody">

        <div id="friendBox">
            <button onClick="location.href='../main'">Powrót</button>

        </div>
        <div id="chatBox">Aktualny czas na serwerze:
            <br>
            <b>
                <span id="time"></span>
            </b>

            <div>
                <input type='text' id='txtmessage' />
                <button id='btsend'>Wyślij</button>
                <div id='messages'></div>
            </div>
        </div>

    </div>

</body>

</html>