<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pogadaj se!</title>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>

<body>
    <div class="main">
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="/chat">Chat</a>
                    </li>
                    <li>
                        <a href="/login">Zaloguj</a>
                    </li>
                    <li>
                        <a href="/register">Zarejestruj</a>
                    </li>

                </ul>
            </nav>
        </div>
        <br/>

        <div class="jumbotron">
            <h1>Witaj
                <%= email %> na Pogadaj se! </h1>
            <h2>Na razie strona jest w budowie, ale możesz wypróbować super ficzery:</h2>
            <input type="button" onclick="location.href='/chat';" value="Chat" />
            <br>
            <br>
            <input type="button" onclick="location.href='/logout';" value="Wyloguj" />
        </div>
    </div>

</body>

</html>