<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pogadaj se!</title>
    <script src="/socket.io/socket.io.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script> 
        window.addEventListener('load', function () {
            var socket = io();
            addFriendEmail = document.getElementById('friendEmail');
            addFriendEmail.addEventListener('input', function(){
                // alert(addFriendEmail.value);
                socket.emit('user list', addFriendEmail.value);
            });

            socket.on('user list', function (data) {
                var list = document.getElementById('emailSelect');
                console.log(data, data.email, data.value)
                options = ""
                for( i in data){
                    options += '<option>' + data[i].email + '</p>\n';
                    console.log(data[i])
                }
                list.innerHTML = options;

            });
                

        });
    
    </script>
</head>

<body>
    <div class="main">
        <!-- pasek nawigacyjny -->
        <nav class="navbar navbar-expand-sm navbar-light bg-success">
            <!-- Tytuł paska nawigacyjnego -->
            <a class="navbar-brand" href="/">
                <img src="http://icons.iconarchive.com/icons/froyoshark/enkel/512/iMessage-icon.png" width="30" height="30" class="d-inline-block align-top"
                    alt=""> Pogadaj se!
            </a>

            <!-- Guzik menu, który się pojawia po zmianie szerokości paska -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLogged" aria-controls="navbarLogged"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarLogged">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chat">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Wyloguj</a>
                    </li>
                </ul>
            </div>
        </nav>

        <br/>

        <div class="jumbotron">
            <h1>Witaj
                <%= email %> na Pogadaj se! </h1>
            <h2>Na razie strona jest w budowie, ale możesz wypróbować super ficzery:</h2>
            <button type="button" onclick="location.href='/chat';" class="btn btn-success btn-lg">Chat</button>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addFriendModal">Dodaj znajomego</button>
            <button type="button" onclick="location.href='/logout';" class="btn btn-warning btn-lg">Wyloguj</button>

            <!-- Modal -->
            <div class="modal fade" id="addFriendModal" tabindex="-1" role="dialog" aria-labelledby="addFriendModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="title">Dodaj znajomego</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/addFriend" method="POST">
                    <div class="modal-body">
                    <label for="friendEmail">Podaj email znajomego</label><br>
                    <input type="email" id=friendEmail name="friendEmail" placeholder="Email" list="emailList">
                    <datalist id="emailList">
                    <select id="emailSelect">
                        

                    </select>
                        
                    </datalist>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary" formtarget="_parent">Dodaj</button>
                </div>
                </form>
                
                </div>
            </div>
            </div>
            
        </div>
    </div>

</body>

</html>