<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zarejestruj się</title>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>

<body>
    <div class="login-page">
        <div>
            <nav class="navbar navbar-expand-md navbar-light bg-success">
                <!-- Tytuł paska nawigacyjnego -->
                <a class="navbar-brand" href="/">
                    <img src="http://icons.iconarchive.com/icons/froyoshark/enkel/512/iMessage-icon.png" width="30" height="30" class="d-inline-block align-top"
                        alt=""> Pogadaj se!
                </a>

                <!-- Guzik menu, który się pojawia po zmianie szerokości paska -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/login">Zaloguj</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="/chat">Chat</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <br/>

        <div class="form row align-items-center">
            <div class="col">
            </div>
            <div class="col">
                <form class="register-form"  action="/register" method="POST">
                    <img class="mb-4" src="http://icons.iconarchive.com/icons/froyoshark/enkel/512/iMessage-icon.png" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 font-weight-normal">Zarejestruj się</h1>

                    <label for="inputName" class="sr-only">Imię i nazwisko</label>
                    <input type="Name" id="inputName" class="form-control" placeholder="Imię i nazwisko" name="name" required autofocus>

                    <label for="inputEmail" class="sr-only">Adres email</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Adres email" name="email" required>

                    <label for="inputPassword" class="sr-only">Hasło</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" name="pass" required>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj</button>
                    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
                    <p class="message">Masz już konto?
                            <a href="/login">Zaloguj się!</a>
                    </p>
                </form>
            </div>
            <div class="col">
            </div>
        </div>
    </div>


</body>

</html>