<html>

<head>
    <title>Session Management in NodeJS using Express4.2</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

    </script>
</head>

<body>
    <form action="/login" method="POST">
        <input type="email" size="40" placeholder="Type your email" name="email">
        <br />
        <input type="password" size="40" placeholder="Type your password" name="password">
        <br />
        <button >Wyślij</button>
    </form>

</body>

</html>